.product-img {
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid var(--secondary1);
  filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.2));
}

.shoe-item h5 {
  font-size: 1rem;
  color: var(--grey200);
  font-weight: var(--regular);
  margin: 15px auto 5px 20px;
}

.shoe-item h4 {
  font-size: 1.125rem;
  color: var(--accent2);
  font-weight: var(--medium);
  margin-left: 20px;
}

.shoe-item .shoe-item-price {
 color: var(--accent1);
 font-weight: var(--regular);
 margin-left: 20px;
}

.reviews {
  display: flex;
  
}

.reviews h5 {
  margin: 0;
  color: var(--accent2);
}

.reviews span {
  text-decoration: underline;
  cursor: pointer;
}

.star {
  align-self: center;
}