option#size-option {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--accent1);
  background-color: transparent;
  font-size: 1rem;
  font-weight: var(--regular);
  color: var(--accent1);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 2px solid;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  /* padding: 7px 10px; */
}



.size-button .filled {
  background-color: var(--secondary1);
  border: 0;
  color: var(--primary1);
}
