.shipping-form h3 {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--accent2);
  font-size: 1.5rem;
  font-weight: var(--medium);
  text-transform: uppercase;
}

.shipping-form-field {
  margin-top: 10px;
}

.shipping-form-field label {
  color: var(--grey500);
  font-size: 1rem;
  font-weight: var(--regular);
  margin-left: 20px;
}

.address-details {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.address-details label {
  margin-left: 0;
}

.delivery-options {
  margin-top: 20px;
  font-size: 0.875rem;
  color: var(--accent1);
  font-weight: var(--regular);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.delivery-option label {
  box-sizing: border-box;
  width: 335px;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
}

input[type="radio"] {
  margin-right: 10px;
  accent-color: var(--accent1);
}

.payment-btn {
  margin: 15px 20px 30px 20px;
}

