:root {
  --primary1: #FFF9F4;
  --primary2: #E5E5E5;
  --primary3: #D6D6D6;
  --secondary1: #FDB53F;
  --secondary2: #FCA311;
  --accent1: #283C65;
  --accent2: #14213D;
  --grey100: #F4F4F4;
  --grey200: #B1B9C9;
  --grey300: #8D97AB;
  --grey500: #3D4860;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
}

* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

body {
  background-color: var(--primary1);
}