.checkout-tab {
  display: flex;
  align-items: center;
}

.checkout-tab .circle {
  border-radius: 50%;
  width: 24px;
  line-height: 24px;
  background-color: var(--secondary1);
  color: var(--primary1);
  text-align: center;
  font-size: 0.75rem;
  font-weight: var(--regular);
}

.checkout-tab p {
  font-size: 0.875rem;
  color: var(--accent2);
  font-weight: var(--medium);
  margin-left: 5px;
}

.checkout-tab.disabled .circle{
  background-color: var(--primary2);
}

.checkout-tab.disabled p{
  color: var(--grey200);
}

.checkout-tab.done .circle{
  background-color: var(--accent2);
}

.checkout-tab.done p{
  color: var(--accent2);
}

.checkout-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3px 28px 17px 28px;
}

.checkout-tabs .separator {
  height: 2px;
  background-color: var(--primary2);
  width: 10px;
  border-radius: 99px;
}

.checkout-progress hr {
  height: 1px;
  border: 0;
  background: var(--primary2);
}